<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter emp</title>
</head>
<body>
 <div class = "container">
    <h1>Filter employees</h1>
<form action = "/filter_emp" method="post">
      {% csrf_token %}
      <label for="name" >First Name</label><br>
      <input type="text"  id="name" name="name" value="{{name}}"><br>
      <label for="dept" >Department</label><br>
      <input type="text"  id="dept" name="dept" value="{{dept}}"><br>
      <label for="role" >Role</label><br>
      <input type="text"  id="role" name="role" value="{{role}}"><br>



      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


</body>
</html>